html, body {
    height: 99%;
}

.title {
    font-size: 3.5em;
    text-align: center;
}

.title-block {
    height: 10%;
    width: 99%;
}

.button-wrapper {
    padding-top: 4%;
}

.table-container {
    height: 90%;
}

.project-row {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(17, 85, 161);
}

.table-head {
    height: 12%;
    font-size: 2em;
}

.table-body {
    height: 88%;
}

.table-row {
    height: 25%;
    font-size: 3em;
}

.num-col {
    text-align: center;
}